/* app/globals.css */
@import "tailwindcss";

:root {
  --bg: 255 255 255;
  --fg: 17 24 39;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial;
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}

:root {
  --site-header-h: 112px;
}

html[data-header="compact"] {
  --site-header-h: 64px;
}

