/* app/globals.css */
@import "tailwindcss";

:root {
  --bg: 255 255 255;
  --fg: 17 24 39;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial;
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}

:root {
  --site-header-h: 112px;
}

html[data-header="compact"] {
  --site-header-h: 64px;
}

.waaza-embed {
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

.waaza-embed #waaza-widget {
  background: transparent !important;
  padding: 0 !important;
  border: 0 !important;
  border-radius: 20px;
  overflow: hidden; /* makes iframe corners look premium */
}

.waaza-embed #waaza-widget iframe {
  display: block;
  width: 100%;
  max-width: 440px; /* or remove if you want full-width */
  border: 0 !important;
  background: transparent !important;
}

